* {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1680px;
    margin: 0 auto;
    padding: 30px 120px;
}

.menu_link {
    text-decoration: none;
    font: 500 16px/20px "Montserrat", sans-serif;
    color: #000;
    margin-right: 87px;
}

.menu_button {
    margin-left: 12px;
    text-decoration: none;
    font: 600 16px/16px "Montserrat", sans-serif;
    color: #fff;
    border-radius: 4.59px;
    background: #05090c;
    padding: 19px 40px;
}

.main {
    max-width: 1580px;
    margin: 42px auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_heading {
    font: 600 100px/122px "Montserrat", sans-serif;
    color: #000;
    margin-bottom: 5px;
}

.pink {
    color: #ee58b6;
}

.main_text {
    font: 400 26px/31px "Roboto Condensed", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 65px;
    max-width: 545px;
}

.main_button {
    font: 600 16px/16px "Montserrat", sans-serif;
    color: #fff;
    padding: 19px 83px;
    background: #05090c;
    border-radius: 4.59px;
    text-decoration: none;
}

.promo {
    height: 400px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.promo_wrapper {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.promo_item {
    width: 337px;
    text-align: center;
}

.promo_text {
    font: 400 22px/26px "Roboto Condensed", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}

.problem {
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problems_heading {
    font: 500 48px/61px "Montserrat", sans-serif;
    color: #000;
}

.problems_text {
    font: 400 18px/24px "Roboto Condensed", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.oncourse {
    text-align: center;
}

.oncourse_main_text {
    font: 500 48px/59px "Montserrat", sans-serif;
    color: #000;
}

.skills_text {
    margin-top: 20px;
    color: #fff;
    font: 400 18px/21px "Roboto Condensed", sans-serif;
}

.skills {
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 358px);
    grid-gap: 30px;
    justify-content: center;
}

.skills_item {
    text-align: left;
    padding: 32px;
    border-radius: 7px;
    background: #000;
}

.fifth {
    background: #000;
}
