*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1680px;
    margin: 0 auto;
    padding: 30px 120px;
}

.menu_link{
    text-decoration: none;
    font: 500 16px/20px "Montserrat", sans-serif;
    color: #000;
    margin-right: 87px;
}

.menu_button{
    margin-left: 12px;
    text-decoration: none;
    font: 600 16px/16px "Montserrat", sans-serif;
    color: #fff;
    border-radius: 4.59px;
    background: #05090c;
    padding: 19px 40px;
}

.first{
    max-width: 1580px;
    margin: 42px auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first .main_text{
    font: 600 100px/122px "Montserrat", sans-serif;
    color: #000;
    margin-bottom: 5px;
}

.main_text .pink{
    color: #ee58b6;
}

.first .text{
    font: 400 26px/31px "Roboto Condensed", sans-serif;
    color: rgba(0,0,0,0.7);
    margin-bottom: 65px;
    max-width: 545px;
}

.first .button{
    font: 600 16px/16px "Montserrat", sans-serif;
    color: #fff;
    padding: 19px 83px;
    background: #05090c;
    border-radius: 4.59px;
}

.second{
    height: 400px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.second .wrapper{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrapper .item{
    width: 337px;
    text-align: center;
}

.second .text{
    font: 400 22px/26px "Roboto Condensed", sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}

.third .block{
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third .main_text{
    font: 500 48px/61px "Montserrat", sans-serif;
    color: #000;
}

.third .text{
    font: 400 18px/24px "Roboto Condensed", sans-serif;
    color: rgba(0,0,0,0.7);
}

.fourth{
    text-align: center;
}

.fourth .main_text{
    font: 500 48px/59px "Montserrat", sans-serif;
    color: #000;
}

.fourth .text{
    margin-top: 20px;
    color: #fff;
    font: 400 18px/21px "Roboto Condensed", sans-serif;
}

.grid{
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 358px);
    grid-gap: 30px;
    justify-content: center;
}

.grid .item{
    text-align: left;
    padding: 32px;
    border-radius: 7px;
    background: #000;
}